.jumbotron{
}
.bg-header{
	background-color: #80aaff;
}
body{
	padding-top: 30px;
}

h1, h2, h3, h4, p{
	font-family:	Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

canvas {
  width: 100%;
  height: auto;
}

.googleMapClass{
	width: #mapParent.width;
	height: 200px;
}
